<div class="screen">

<div class="all">
    <div class="myCars">MY CARS
        <!-- <div class="allCar" >
            {{myCars | json}}
        </div> -->
        <button class="addBtn" (click)="addCar($event)">ADD</button>
    </div>
    <ul class='my-cars-list'  *ngFor='let car of myCars;let i = index;'>
        <li class="newCars">{{car.name}}
            <div class="btns">
            <button class="detailsBtn" (click)="detals($event)" [id]='i' >details</button>
            <button class="editBtn" (click)="edit($event)" [id]='i' >edit</button>
            <button class="deleteBtn" (click)="delete($event)" [id]='i' >delete</button>
        </div>
        </li>
    </ul>
    <div class="allCarsTitle">ALL CARS</div>
    <!-- <div class="allCar"*ngFor="let col of columns">
        {{col}}</div> -->
        <div class="allCar" *ngFor="let cars of cars;let i = index;">
    
              {{cars.name}}
            <div class="btns">
             <button class="detailsBtn" (click)="details($event)" [id]='i' >detals</button>
            </div>
        </div>
    </div>
    <div class="display" *ngFor="let dis of display">
      <div class="display-main">
        <div class="display-img">car name: {{dis.name}}
            <img class="carImg" [src]=dis.img alt="">
        </div>    
        <div  class="display-desc">
            description:
            {{dis.desc}}
            
        </div>
    </div>
        <li >
            <ul class="display-more" >
            <li>ABS: <img *ngIf="dis.ABS" src="/assets/icons8-checked-checkbox-50.png">
                <img *ngIf="!dis.ABS" src="/assets/icons8-indeterminate-checkbox-50.png"></li>
            <li>ელექტრო შუშის ამწევი:<img *ngIf="dis.elG" src="/assets/icons8-checked-checkbox-50.png">
                <img *ngIf="!dis.elG" src="/assets/icons8-indeterminate-checkbox-50.png"></li>
            <li>ლუქი:<img *ngIf="dis.look" src="/assets/icons8-checked-checkbox-50.png">
                <img *ngIf="!dis.look" src="/assets/icons8-indeterminate-checkbox-50.png"></li>
            <li>bluetooth:<img *ngIf="dis.bluetooth" src="/assets/icons8-checked-checkbox-50.png">
                <img *ngIf="!dis.bluetooth" src="/assets/icons8-indeterminate-checkbox-50.png"></li>
            <li>სიგნალიზაცია:<img *ngIf="dis.alarm" src="/assets/icons8-checked-checkbox-50.png">
                <img *ngIf="!dis.alarm" src="/assets/icons8-indeterminate-checkbox-50.png"></li>
            <li>პარკინგკონტროლი:<img *ngIf="dis.park" src="/assets/icons8-checked-checkbox-50.png">
                <img *ngIf="!dis.park" src="/assets/icons8-indeterminate-checkbox-50.png"></li>
            <li>GPS:<img *ngIf="dis.GPS" src="/assets/icons8-checked-checkbox-50.png">
                <img *ngIf="!dis.GPS" src="/assets/icons8-indeterminate-checkbox-50.png"></li>
            <li>ბორტკომპიუტერი:<img *ngIf="dis.comp" src="/assets/icons8-checked-checkbox-50.png">
                <img *ngIf="!dis.comp" src="/assets/icons8-indeterminate-checkbox-50.png"></li>
            <li>მულტი საჭე:<img *ngIf="dis.mult" src="/assets/icons8-checked-checkbox-50.png">
                <img *ngIf="!dis.mult" src="/assets/icons8-indeterminate-checkbox-50.png"></li>
        </ul>
        </li>
    </div>
</div>  
    
    <div *ngIf="!editing" id="modal"  class="modal hideModal">
    <div class="modal-content">
        <form #userForm="ngForm" (ngSubmit)="onSubmit($event)" novalidate>
            <h1>adding</h1>
            <select required  class="chooseCar" name="name" [(ngModel)]="userModel.name" form="carform">
                <option  *ngFor="let car of Cars">{{car}}</option>
            </select>
            <div class="description" >
                <label >description</label>
                <input  class="descInput is-invalid" type="text"name="desc" [(ngModel)]="userModel.desc">
          </div>
          <div class="description">
              <label >image Link</label>
            <input class="descInput" type="text" name="img" [(ngModel)]='userModel.img'>
        </div>
        <div class="checkBox">
            <label >More</label>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="ABS" [(ngModel)]="userModel.ABS">
                <label>ABS</label>
            </div>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="elG" [(ngModel)]="userModel.elG">
                <label>ელექტრო შუშის ამწევი</label>
            </div>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="look" [(ngModel)]="userModel.look">
                <label>ლუქი</label>
            </div>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="bluetooth" [(ngModel)]="userModel.bluetooth">
                <label>Bluetooth</label>
            </div>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="alarm" [(ngModel)]="userModel.alarm">
                <label>სიგნალიზაცია</label>
            </div>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="park" [(ngModel)]="userModel.park">
                <label>პარკინგკონტროლი</label>
            </div>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="GPS" [(ngModel)]="userModel.GPS">
                <label>ნავიგაცია</label>
            </div>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="comp" [(ngModel)]="userModel.comp">
                <label>ბორტკომპიუტერი</label>
            </div>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="mult" [(ngModel)]="userModel.mult">
                <label>მულტი საჭე</label>
            </div>
        </div>
          <button class="submit">submit</button>
        </form>
        <button class="close" (click)="close($event)">X</button>
      </div>
</div>

<div  *ngIf="editing" id="modal" class="modal hideModal">
    <div class="modal-content">
        
        <form #userForm="ngForm" (ngSubmit)="onSubmit($event)" novalidate>
            <h1>editing</h1>
            <select required  class="chooseCar" name="name" [(ngModel)]="userModel.name" form="carform">
                <option  *ngFor="let car of Cars">{{car}}</option>
            </select>
            <div class="description" >
                <label [value]="editingCar.description" >description</label>
                <input  class="descInput is-invalid" type="text"name="desc" [(ngModel)]="userModel.desc">
          </div>
          <div class="description">
              <label >image Link</label>
            <input class="descInput" type="text" name="img" [(ngModel)]='userModel.img'>
        </div>
        <div class="checkBox">
            <label >More</label>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="ABS" [(ngModel)]="userModel.ABS">
                <label>ABS</label>
            </div>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="elG" [(ngModel)]="userModel.elG">
                <label>ელექტრო შუშის ამწევი</label>
            </div>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="look" [(ngModel)]="userModel.look">
                <label>ლუქი</label>
            </div>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="bluetooth" [(ngModel)]="userModel.bluetooth">
                <label>Bluetooth</label>
            </div>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="alarm" [(ngModel)]="userModel.alarm">
                <label>სიგნალიზაცია</label>
            </div>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="park" [(ngModel)]="userModel.park">
                <label>პარკინგკონტროლი</label>
            </div>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="GPS" [(ngModel)]="userModel.GPS">
                <label>ნავიგაცია</label>
            </div>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="comp" [(ngModel)]="userModel.comp">
                <label>ბორტკომპიუტერი</label>
            </div>
            <div class="checkForm">
                <input class="checks" type="checkbox" name="mult" [(ngModel)]="userModel.mult">
                <label>მულტი საჭე</label>
            </div>
        </div>
          <button class="submit">submit</button>
        </form>
        <button class="close" (click)="close($event)">X</button>
      </div>
</div>